body, .App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  transition: 0.3s;
  background-color: #fff7e0;
  color: #222;
}
header {
  padding: 20px;
}
select, button {
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}
.gold-theme {
  background: #fff7e0;
  color: #222;
}
.night-theme {
  background: #121212;
  color: #f8f8f8;
}
.classic-theme {
  background: #f4f4f4;
  color: #000;
}
